#canvas{
    display: flex;
    justify-content: center;
    
}

 #start{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border:5px solid lightseagreen;
    align-items: center;
} 